body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color:#FEFFDC;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Ubuntu', sans-serif;
}

header h1{
	color: black;
	font-size: 50px;
}

header img{
	border-radius: 1px;
    border: 10px solid #F7AD00;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #F97007;
	margin: 40px 0px 10px;
}

a{
	color: #F97007;	
}

a:hover{
	color: white;
	background-color: #045FB4;
}

footer{
	background-color:#F7AD00;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a: hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color:grey;
	font-style: italic;
	margin-top: 0;
}

