body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-color:#F5A9E1;
}

header{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 1px;
	background-color:#AF90EE
}

h1, h2{
	font-family: 'Magra', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}

/* header styles */
/* control foward slash*/

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 1px;
    border: 10px solid #F7AD00;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	width: 100%;
	
}

h2{
	font-size: 35px;
	color: white;
	margin: 0px 0px 10px;
}

a{
	color:#8258FA;	
}

a:hover{
	color: white;
	background-color:#8258FA;
}

footer{
	background-color:#819FF7;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a: hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color:rgba(0,0,0,0.5);
	font-style: italic;
	margin-top: 0;
}

a.headerone{
	color:white;
}

image.h2image{
	text-align: center;
}