body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

header{
	background-color:#FEFFDC;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Ubuntu', sans-serif;
}

header h1{
	color: black;
	font-size: 50px;
}

header img{
	border-radius: 1px;
    border: 10px solid #F7AD00;
}

main{
	max-width: 800px;
	margin: 0 auto;
}

main img{
	max-width: 100%;
}
